---
import { Image } from 'astro:assets';
---

<div class="relative z-30 w-full my-10">
	<Image
		src="/assets/images/about.jpg"
		alt="About me"
		width={800}
		height={600}
		class="rounded-2xl"
		loading="eager"
	/>
</div>
