---
import { Image } from 'astro:assets';

const { loading } = Astro.props;
import LogoImage from '../../public/assets/images/logo.png';
---

<a
	href="/"
	class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
	<Image
		src={LogoImage}
		alt="Aleaguiard"
		width={32}
		height={32}
		class="h-9 w-9 -translate-y-0.5 group-hover:-rotate-12 group-hover:scale-[1.3] ease-in-out duration-300"
		loading={loading}
	/>
	<!-- Logo Text -->
	<!-- <span class="-translate-y-0.5"> Aleaguiard </span> -->
</a>
